<div class="card-container">

  <div fxLayout="row wrap">

    <h3 style="margin: auto;" *ngIf="showMessage">
      Você ainda não adicionou nenhum stock a sua lista de favoritos!
    </h3>

    <div class="card" fxFlex="32%" *ngFor="let trad of trades; let i = index">
      <!-- <div class="card" fxFlex="32%"> -->

      <span>{{trad.stock}}</span>

      <canvas attr.id="myChart{{i}}" height="50" width="200" style="display: block;"></canvas>

      <div class="icons">
        <mat-icon>favorite_border</mat-icon>
        &nbsp;
        <mat-icon>notifications_none</mat-icon>
        &nbsp;
        <mat-icon>edit</mat-icon>
      </div>
    </div>

  </div>

</div>
